<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.capsuladigital.androidcore">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/notify_logo" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />

        <activity
            android:name=".presentation.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.login.LoginActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".presentation.sign_up.improve_xperience.ImproveXperienceActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".presentation.sign_up.sign_up_form.SignUpFormActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".presentation.restore_password.RestorePasswordActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".presentation.profile.ProfileActivity"
            android:label="@string/up_title"
            android:parentActivityName=".presentation.home.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.capsuladigital.androidcore.presentation.home.MainActivity" />
        </activity>
        <activity
            android:name=".presentation.profile.edit_profile.edit_user_data.EditUserDataActivity"
            android:label="@string/eud_edit_title"
            android:parentActivityName=".presentation.profile.ProfileActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.capsuladigital.androidcore.presentation.profile.ProfileActivity" />
        </activity>
        <activity
            android:name=".presentation.profile.edit_profile.edit_user_teams.EditUserTeamsActivity"
            android:label="@string/eut_edit_title"></activity>
        <activity
            android:name=".presentation.home.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".presentation.home.about_us.AboutUsActivity"
            android:parentActivityName=".presentation.home.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.capsuladigital.androidcore.presentation.home.MainActivity" />
        </activity>

        <service
            android:name=".service.MyAppFirebaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver android:name=".service.NotificationReceiver" />

        <activity android:name=".presentation.squad.SquadActivity"
            android:parentActivityName=".presentation.home.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.capsuladigital.androidcore.presentation.home.MainActivity" />
        </activity>
    </application>

</manifest>